body{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    padding:0px;
    margin:0px;
}

.header, .hero, .footer{
    background-color:#1F2937;
    padding:0px;
    margin:0px;
    border:0px;
}

/* .header, p{
    display: flex;
    justify-content:space-around;
    padding-bottom:100px;
    margin:0px;
    gap:8px;
    font-size: 18px;
    color:#E5E7EB;
    
} */

/* header title*/
.header .big{
    font-size: 24px;
    color: #F9FAF8;
    margin:8px;
}

.info, .placeholder_img{
    max-width: 400px;
    flex:1;
}



.info p,
.info h1{
    padding:0px;
    margin:0px;
    
}

.info button{
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius:10px;
    padding:5px 25px;
    border-color:#3882F6;
}

/* title */
.hero .title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
    
}

ul{
    list-style: none;
    display:flex;
    gap:16px;
    /* padding-right:60px; */
    color: #F9FAF8;
    

}



.hero{
    display: flex;
    justify-content: space-around;
    padding-left: 75px;
    padding-bottom:100px;

}


/*Cards section*/
.card-title{
    text-align:center;
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.cards{
    display:flex;
    justify-content: center;
    gap:50px;
    
}

.card{
    border: 3px solid blue;
    max-width:150px;
    border-radius: 8px;
}

.set p{
    max-width:150px;
    color:black;
    text-align:center;
}

/* Quote section*/


.quote{
     background-color: #E5E7EB;
    /* Add padding for spacing */
    padding: 100px;
    
    /* Use Flexbox to center the content */
    display: flex;
    flex-direction: column; /* Stack the quote and author vertically */

    

}

.quotes{
    max-width: 800px; /* Limit the width for readability */
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 2px; /* Space between the quote and author */
    padding-bottom:9px;
    text-align: start;
    align-self: center;
}

.quoted{
    max-width: 600px;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%; /* Important: This makes the element take full width, so text-align: right works */
    
    /* Add this property to override the parent's alignment and move the element to the right */
    align-self: flex-end;
    margin-right:150px;
    
}


/*Call to action*/
.signup{
    background-color:#3882F6;
    margin:100px 200px;
    padding:10px;
    
    border-radius: 8px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.text h3, .text p{
    font-size: 18px;
    color:white;
}

.text h3{
    margin-bottom:0px;
}

.text p{
    margin-top:0px;
}

.interact button{
    background-color: #3882F6;
    box-shadow: none;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color:#F9FAF8;
}

/*footer*/

.footer{
    padding:50px;
    text-align: center;
    color:#F9FAF8
}